.contacts {
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        @media (max-width: 900px) {
            flex-direction: column;
        }
    }
    &__header {
        font-size: 40px;
        @media (max-width: 520px) {
            font-size: 32px;
        }
        @media (max-width: 410px) {
            font-size: 28px;
        }
        @media (max-width: 360px) {
            font-size: 24px;
        }
    }
}
.contacts__left {
    background-color: $secondary;
    border-radius: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    // flex: 0 1 33.333333%;
    // max-width: 33.333333%;
    padding: 50px 40px;
    @media (max-width: 900px) {
        // min-width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &-item {
        display: flex;
        margin-top: 30px;
        width: 32%;
        @media (max-width: 900px) {
            width: 100%;
        }
    }
}
.contacts__left-wrapper {
    @media (max-width: 900px) {
        align-items: center;
        justify-content: center;
    }
}
.contacts__left-item {
    
}

.contacts__icon {
    color: $primary;
    min-width: 55px;
    height: 50px;
    display: block;
    font-size: 30px;
}


.contacts__block-header {
    font-size: 20px;
    font-weight: 600;
}


.contacts__block-text {
    margin-top: 10px;
}

.contacts__right {
    width: 66.666666%;
    display: flex;
    margin-left: 15px;
    @media (max-width: 900px) {
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
    }
    &-top {
        display: flex;
        flex-wrap: wrap;
    }
}

.contacts__right-wrap {
    padding: 0 15px;
    flex: 0 0 50%;
    max-width: 50%;
    @media (max-width: 500px) {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

.contacts__form-input {
    // flex: 0 0 50%;
    // max-width: 50%;
    width: 335px;
    height: 58px;
    background: #fefeff;
    border: none;
    font-size: 16px;
    color: $dark-light;
    padding: 17px 30px;
    border-radius: 20px;
    margin-bottom: 23px;
    @media (max-width: 1170px) {
        width: 100%;
    }
}

.contacts__right-bottom {

}

.contacts__right-textarea {
    width: 700px;
    height: 148px;
    resize: none;
    margin-bottom: 29px;
    background: #fefeff;
    border: none;
    font-size: 16px;
    color: $dark-light;
    padding: 17px 30px;
    border-radius: 20px;
    @media (max-width: 1170px) {
        width: 100%;
    }
}

.contacts__right-bottom-wrap {
    margin: 0 15px;
}

.contacts__btn {
    background: $secondary;
    color: $light;
    padding: 20px 58px 19px;
    margin-left: 15px;
    font-size: 20px;
    display: inline-block;
    border-radius: 35px;
    line-height: 20px;
    text-decoration: none;
    border: 1px solid transparent;
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    &:hover {
        border-color: $primary;
        background: $primary;
        transform: translateY(-8px);
    }
}

.contacts__form-input:focus,
.contacts__right-textarea:focus{
    outline: 1px solid #6f34fe;
}