
// Burger Menu
$burgerBreakpoint: 992px;
$burgerColor: 'white';
$burgerActiveColor: 'white';

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';

// Colors
$primary: #ffc107;
$secondary: #7331ff;
$dark: #191923;
$dark-light: #282839;
$light: #fff;
$text-opacity: #8c8c91;